@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto Mono", sans-serif;
}

body {
  background: url("../images/sofa.jpg") no-repeat center;
  background-size: cover;
}

.header {
  min-width: 100%;
  height: 100px;
  border-radius: 20px;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #034742;
}

.header__title {
  font-size: 35px;
}

.search {
  background-color: transparent;
  border: 2px solid #04040e;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 5px;
  color: #fff;
}

.search:placeholder {
  color: #e6e6ec;
}

.search:focus {
  outline: none;
  background-color: rgb(7, 141, 141);
}

.button {
  cursor: pointer;
  font-family: inherit;
  background-color: rgb(7, 141, 141);
  border: 2px solid rgb(7, 141, 141);
  border-radius: 50px;
  cursor: pointer;
  width: 70px;
  height: 25px;
}

main {
  height: 100vh;
  display: flex;
}

.favorite__section {
  width: 30vw;
  padding: 10px;
  margin-top: 100px;
  overflow-y: scroll;
}

.result__section {
  width: 70vw;
  padding: 10px;
  margin-top: 100px;
  overflow-y: scroll;
}

h2 {
  text-align: center;
  height: 30px;
}

/* Tarjetas de las series */
h3 {
  font-size: 12px;
  text-align: center;
}
.serieCard {
  width: 180px;
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(7, 141, 141);
  border-radius: 20px;
}
.serieImage {
  width: 100%;
  border-radius: 20px;
}

.favCard {
  width: 180px;
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
  background-color: #e46d5c;
  border-radius: 20px;
}

.favImage {
  width: 100%;
  border-radius: 20px;
}
